<div class="card">
  <div class="card-body">
    <form [formGroup]="theForm" novalidate>
      <h6>Creating Conference</h6>
      <div class="form-group form-inline">
        <label style="margin-right:20px;" class="col-form-label">Name :</label>
        <input type="text" formControlName="conference_name"
               class="form-control"
               id="conference_name"
               placeholder="Conference Name"
               name="type"
               style="margin-right:5px;"
               required>
        <span *ngIf="theForm.get('conference_name').invalid && theForm.get('conference_name').touched" class="alert alert-danger">
          <span *ngIf="theForm.get('conference_name').errors.required">
            A Conference Name is required.
          </span>
        </span>
      </div>
      <div class="form-group form-inline">
        <label style="margin-right:20px;" class="col-form-label">Abbr :</label>
        <input type="text" formControlName="conference_abbr" maxlength="3"
               class="form-control"
               id="conference_abbr"
               placeholder="Conference Abbreviation"
               name="type"
               style="margin-right:5px;"
               required>
        <span *ngIf="theForm.get('conference_abbr').invalid && theForm.get('conference_abbr').touched" class="alert alert-danger">
            <span *ngIf="theForm.get('conference_abbr').errors.required">
              A Conference Abbreviation is required.
            </span>
            <span *ngIf="theForm.get('conference_abbr').errors.minlength">
              The Abbreviation must be 3 characters.
            </span>
          </span>
      </div>
      <div class="form-group form-inline">
        <label style="margin-right:20px;" class="col-form-label">Type :</label>
         <span>
         <select class="custom-select" formControlName="conference_type">
            <option value="FB">Football</option>
            <option value="BB">Men's Basketball</option>
            <option value="OT">Other</option>
         </select>
         </span>
      </div>
      <div formArrayName="conference_divisions">
        <div style="margin-top:5px; margin-bottom:5px;" *ngFor="let division of theForm.get('conference_divisions').controls; let i=index">
          <fieldset>
            <legend>
              <h4>Division {{i+1}}:
                <button style="margin-left:35px;" type="button" class="btn btn-danger" (click)="removeDivision(i)">
                  <span class="glyphicon glyphicon-minus"aria-hidden="true"></span> Remove This Division
                </button>
              </h4>
            </legend>
            <div [formGroupName]="i">
              <div class="form-inline">
                <div class="form-group">
                  <label style="margin-right:20px;" class="col-form-label" for="division_name">Division Name :</label>
                  <input type="text"
                         class="form-control"
                         id="division_name"
                         placeholder="Division Name"
                         name="type"
                         formControlName="division_name"
                         style="margin-right:5px;"
                         required>
                </div>
                <div class="form-group">
                  <label style="margin-right:20px;" class="col-form-label" for="division_type">Division Type :</label>
                  <input type="text"
                         class="form-control"
                         id="division_type"
                         placeholder="Division Type"
                         name="type"
                         formControlName="division_type"
                         style="margin-right:5px;"
                         required>
                  <!--
                  <button style="margin-right:5px;"  type="button" class="btn btn-success btn-sm" (click)="addNewTeam(division.controls.teams)">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Team
                  </button>
                  -->
                </div>

              </div>
              <!--
              <div class="form-inline">
                <div class="form-group">
                  <div formArrayName="addressLines">
                    <div style="margin-top:5px; margin-bottom:5px;" *ngFor="let lines of city.get('addressLines').controls; let j=index">
                      <div [formGroupName]="j">
                        <div class="form-group">
                          <label style="margin-right:5px;"  class="col-form-label" for="emailId">Address Line {{j + 1}}</label>
                          <input formControlName="addressLine"
                                 class="form-control"
                                 style="margin-right:5px;"
                                 type="email"
                                 placeholder="Address lines"
                                 id="address"
                                 name="address"
                          />
                          <button style="margin-right:5px;" type="button" class="btn btn-danger btn-sm" (click)="deleteAddressLine(city.controls.addressLines, j)">
                            <span class="glyphicon glyphicon-minus"aria-hidden="true">Remove Address Line</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              -->
            </div>
          </fieldset>
        </div>
      </div>
      <button style="margin-top:5px; margin-bottom:5px;" type="button" class="btn btn-primary btn-sm" (click)="addDivision()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Division
      </button>
<!--  -->
      <div class="form-group">
        <button (click)="addConference( )"
                [disabled]="theForm.pristine || theForm.invalid"
                class="btn btn-primary">Add Conference</button>
      </div>
    </form>
  </div>
</div>
