<div class="card">
  <div class="card-body">
    <form [formGroup]="theForm" novalidate>
      <div class="form-group">
        <h6>Creating Conference</h6>
        <label>Name :
          <input type="text" formControlName="conference_name"/>
        </label>
        <span *ngIf="theForm.get('conference_name').invalid && theForm.get('conference_name').touched" class="alert alert-danger">
          <span *ngIf="theForm.get('conference_name').errors.required">
            A Conference Name is required.
          </span>
        </span>
      </div>
      <div class="form-group">
        <label>Abbr :
          <input type="text" formControlName="conference_abbr" maxlength="3"/>
        </label>
        <span *ngIf="theForm.get('conference_abbr').invalid && theForm.get('conference_abbr').touched" class="alert alert-danger">
            <span *ngIf="theForm.get('conference_abbr').errors.required">
              A Conference Abbreviation is required.
            </span>
            <span *ngIf="theForm.get('conference_abbr').errors.minlength">
              The Abbreviation must be 3 characters.
            </span>
          </span>
      </div>
      <div class="form-group">
        <label>Type :
          <input type="text" formControlName="conference_type"/>
        </label>
        <span *ngIf="theForm.get('conference_type').invalid && theForm.get('conference_type').touched" class="alert alert-danger">
          <span *ngIf="theForm.get('conference_type').errors.required">
            A Conference Type is required.
          </span>
        </span>
      </div>

<!--
      <div class="form-group">
        Conference uses Divisions? :
        <label>
          <input type="radio" value=true formControlName="conference_has_divisions">
          <span>Yes</span>
        </label>
        <label>
          <input type="radio" value=false formControlName="conference_has_divisions">
          <span>No</span>
        </label>
      </div>
-->
      <div class="form-group">
        <button (click)="addConference( )"
                [disabled]="theForm.pristine || theForm.invalid"
                class="btn btn-primary">Add Conference</button>
      </div>
    </form>
  </div>
</div>
